//COLORS
$color-primary: #090B1A;
$color-primary-light: #03072B;
$color-primary-dark: #080912;
$color-background: #141414;

$color-secondary-light: #0B5922;
$color-secondary-dark: #014221;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-gray-light-1: #f7f7f7;
$color-gray-light-2: #eee;

$color-gray-dark: #777;
$color-gray-dark-2: #999;
$color-gray-dark-3: #333;

$color-white: #fff;
$color-black: #000;

$default-font-color: #000;

//FONT SIZES
$default-font-size: 1.6rem;

//GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;

//Styling
$default-border-radius: 3px;